---
http_interactions:
- request:
    method: get
    uri: http://tweeps.locaweb.com.br/tweeps
    body:
      encoding: US-ASCII
      string: ''
    headers:
      Username:
      - testando_qualquer_email@gmail.com
  response:
    status:
      code: 200
      message: 'OK '
    headers:
    body:
      encoding: UTF-8
      string: '{"statuses":[{"coordinates":null,"favorited":false,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"806822","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"marquardt_earline_mr","name":"Marquardt
        Earline Mr","id":48356,"id_str":"48356","indices":[1,22]}]},"in_reply_to_user_id_str":"48356","contributors":null,"text":"@marquardt_earline_mr
        I''ll quantify the back-end USB panel, that should s","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_count":4,"in_reply_to_status_id_str":"483371","id":806822,"geo":null,"retweeted":true,"in_reply_to_user_id":48356,"place":null,"favorite_count":0,"user":{"profile_sidebar_fill_color":"DDEEF6","profile_sidebar_border_color":"C0DEED","profile_background_tile":false,"name":"Fadel
        Eddie","profile_image_url":"http://a0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","created_at":"Mon
        Apr 26 06:01:55 +0000 2010","location":"LA, CA","follow_request_sent":null,"profile_link_color":"0084B4","is_translator":false,"id_str":"166752","entities":{"url":{"urls":[{"expanded_url":null,"url":"","indices":[0,0]}]},"description":{"urls":[]}},"default_profile":true,"contributors_enabled":false,"favourites_count":3,"url":null,"profile_image_url_https":"https://si0.twimg.com/profile_images/2359746665/1v6zfgqo8g0d3mk7ii5s_normal.jpeg","utc_offset":-28800,"id":166752,"profile_use_background_image":true,"listed_count":2,"profile_text_color":"333333","lang":"en","followers_count":682,"protected":false,"notifications":null,"profile_background_image_url_https":"https://si0.twimg.com/images/themes/theme1/bg.png","profile_background_color":"C0DEED","verified":false,"geo_enabled":true,"time_zone":"Pacific
        Time (US & Canada)","description":"Born 330 Live 310","default_profile_image":false,"profile_background_image_url":"http://a0.twimg.com/images/themes/theme1/bg.png","statuses_count":579,"friends_count":682,"following":null,"show_all_inline_media":false,"screen_name":"fadel_eddie"},"in_reply_to_screen_name":"marquardt_earline_mr","source":"web","in_reply_to_status_id":483371},{"coordinates":null,"favorited":true,"truncated":false,"created_at":"Mon
        Sep 24 03:35:21 +0000 2012","id_str":"565833","entities":{"urls":[],"hashtags":[],"user_mentions":[{"screen_name":"locaweb","name":"Locaweb","id":42,"id_str":"42","indices":[0,8]}]},"in_reply_to_user_id_str":"42","contributors":null,"text":"@locaweb
        You can''t override the bus without quantifying the back-end SDD transmitter!","metadata":{"iso_language_code":"pt","result_type":"recent"},"retweet_coun[...]
[...]
